<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hello JS</title>
  </head>
  <body>
    <p>Hello World!</p>
    <script src="../util.js" defer></script>
    <script src="../sort/insertSort.js" defer></script>
    <script src="../sort/mergeSort.js" defer></script>
    <script src="../sort/bubbleSort.js" defer></script>
    <script src="../sort/selectionSort.js" defer></script>
    <script src="../sort/quickSort.js" defer></script>
    <script src="../sort/shellSort.js" defer></script>
    <script src="../sort/countingSort.js" defer></script>
    <script src="../structure/linkedlist.js" defer></script>
  </body>
</html>